<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Museum & Gift Shop - Duquesne Incline</title>
  <link href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/gift.css">
</head>
<body>
  <header>
    <nav class="top-nav">
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="activities.html">Tours & Activities</a></li>
        <li><a href="gift.html" class="active">Museum & Gift Shop</a></li>
        <li><a href="mailing.html">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main class="gift-container">
    <h1 class="gift-title">Best Sellers</h1>

    <div class="gift-list">
        <div class="gift-item">
            <h2>Ornaments</h2>
            <img src="../images/gifts/1.png" alt="This handmade Incline wooden ornament is a big seller
            and is only available here" class="gift-image">
            <p class="gift-caption">This handmade Incline wooden ornament is a big seller
                and is only available here</p>
        </div>

        <div class="gift-item">
            <h2>Decorations</h2>
            <img src="../images/gifts/2.png" alt="A full assortment of Wendell August Forge metal plates" class="gift-image">
            <p class="gift-caption">A full assortment of Wendell August Forge metal plates</p>
        </div>

        <div class="gift-item">
            <h2>Shot Glasses</h2>
            <img src="../images/gifts/3.png" alt="Many shot glasses are for sale including a slanted one" class="gift-image">
            <p class="gift-caption">Many shot glasses are for sale including a slanted one</p>
        </div>
    </div>
</main>
<footer>
    <p>Photos courtesy of duquesneincline.org</p>
</footer>

  <script src="../static/frontpage.js"></script>
</body>
</html>